<h1>Результат</h1>

<% if (success) { %>
  <p style="color:green;">Успешно сохранено!</p>
  <p><%= user.name %> | <%= user.age %> | <%= user.email %></p>
<% } else { %>
  <p style="color:red;">Ошибки:</p>
  <ul>
    <% errors.forEach(err => { %>
      <li><%= err %></li>
    <% }) %>
  </ul>
<% } %>

<a href="/users">Назад</a>